@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer components {
  .infoText {
    @apply p-5 bg-gray-100 rounded-lg max-w-md
  }
  .sideBarRow {
    @apply rounded-lg px-5 py-3 my-2 text-sm flex items-center justify-center cursor-pointer bg-white  text-teal-500 hover:bg-teal-600 hover:text-white transition-all duration-200 ease-out
  }
}